<h1>All Contacts Page</h1>

<% @contacts.each do |contact| %>
  <h2>Name: <%= contact.full_name%></h2>
  <h2>Phone Number: <%= contact.phone_number%></h2>
  <h2>Email: <%= contact.email%></h2>
<% end -%>

