<h1>New Contact</h1>

<form action="/contacts" method="post">
  <div>
    First Name: <input type="text" name="first_name">
  </div>
  <div>
    Last Name: <input type="text" name="last_name">
  </div>
  <div>
    Phone Number: <input type="text" name="phone_number">
  </div>
  <div>
    Email: <input type="text" name="email">
  </div>
  <div>
    User ID: <input type="number" name="user_id">
  </div>
  <div>
    <input type="submit" value="Create Contact">
  </div>
</form>